# Database
DATABASE_URL=
DIRECT_URL=

# Redis
REDIS_URL=redis://localhost:6379

# Auth
JWT_SECRET=deviaty_super_secret_key_2026

# AI (AmalIA)
OPENAI_API_KEY=

# WhatsApp Meta API
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_VERIFY_TOKEN=deviaty_secret_token
WHATSAPP_WEBHOOK_SECRET=

# Notifications
GMAIL_USER=
GMAIL_PASS=
